
=== NFR NFR1 (Operational): The system shall interface with the Choice Parts System. This provides the feed of recycled parts data. ===
FR13: 0.7352 -- The system shall retain the available recycled parts and suppliers returned from the search.
FR45: 0.7343 -- The system shall be able to store new recycled parts.
FR11: 0.7219 -- The system shall search for available recycled parts for the supplied vehicle parts and suppliers.
FR47: 0.6857 -- The system shall be able to delete recycled parts.
FR14: 0.6549 -- The available recycled parts information and their suppliers shall be returned to the user.
FR54: 0.6286 -- The system shall record all the recycled parts that has been reserved.
FR10: 0.6183 -- The estimator shall search for available recycled parts using a list of preferred parts suppliers.
FR33: 0.5981 -- The recycled parts search results provided to the estimator shall be retrieved by the system.
FR46: 0.5621 -- The system will update existing recycled parts.
FR55: 0.5539 -- The system shall notify repair facility of recycled parts transport requests.
FR36: 0.5372 -- The ratings shall include categories for attempted use of recycled parts and actual use of recycled parts.
FR9: 0.5183 -- The estimator shall search for available recycled parts using damaged vehicle parts information.
FR34: 0.4917 -- The system shall generate an audit report based on the available recycled parts and the collision estimate.
FR21: 0.4387 -- The audit report shall include the percentage of available recycled parts used in the estimate.
FR19: 0.4190 -- The audit report shall include the total number of recycled parts used in the estimate.
FR20: 0.3964 -- The audit report shall include the number of available recycled parts from the original search results.
FR30: 0.3964 -- The preferred repair facility ratings shall be saved by the system.
FR15: 0.3928 -- The estimator shall apply selected recycled parts to the collision estimate.
FR16: 0.3873 -- The estimator shall not apply recycled parts to the collision estimate if no available parts are returned.
FR4: 0.3799 -- The system shall locate the preferred repair facility with the highest ratings for the input criteria.
FR40: 0.3658 -- The system shall send the repair facility contact information to schedule creators.
FR52: 0.3572 -- The system shall record the transportation status of parts reserved.
FR8: 0.3510 -- The system shall return a list of repair facilities within the radius if the preferred repair facility cannot be determined.
FR18: 0.3479 -- The adjuster shall request a recycled parts audit of the collision estimate.
FR29: 0.3357 -- The user shall select to save the preferred repair facility ratings.
FR31: 0.3345 -- The vehicle data shall include vehicle year make and model.
FR57: 0.3198 -- The system shall be able to send repair facility visiting schedule notifications via different kinds of end-user specified methods.
FR58: 0.3143 -- The system shall have a customizable Look and Feel.
FR39: 0.3062 -- The system shall have the ability to send repair facility visiting schedule reminders to users.
FR37: 0.3049 -- The system shall record repair facility visiting schedule entries.
FR50: 0.3047 -- The system shall record updated repair facility visiting schedule agendas.
FR59: 0.3035 -- The system shall have an intuitive user interface.
FR7: 0.2975 -- The preferred repair facility shall be returned to the user.
FR51: 0.2948 -- The system shall send a repair facility visiting schedule confirmation to the schedule creators.
FR25: 0.2846 -- The user shall select to view the preferred repair facility ratings.
FR42: 0.2833 -- The system shall store new conference rooms.
FR53: 0.2556 -- The system shall record different schedule types.
FR6: 0.2481 -- The adjuster shall be able to override the preferred repair facility on the estimate assignment.
FR49: 0.2447 -- The system shall display a map of the repair facility building showing conference room locations.
FR44: 0.2446 -- The system will be able to delete conference rooms.
FR12: 0.2434 -- The estimator shall search by zipcode with a radius of 30 miles if no parts are found for the preferred parts suppliers.
FR5: 0.2407 -- The adjuster shall enter the preferred repair facility on the estimate assignment.
FR1: 0.2320 -- The user shall search for the preferred repair facility using vehicle location and radius in miles.
FR35: 0.2305 -- The current repair facility ratings shall be displayed to the user.
FR41: 0.2291 -- The system will record repair facility visiting schedule acknowledgments.
FR43: 0.2115 -- The system shall update existing conference rooms.
FR38: 0.1770 -- The system will notify users of their repair facility visiting schedules.
FR22: 0.1587 -- The audit report shall include the total score of the audit which sums the individual line items.
FR2: 0.1503 -- The vehicle location shall include street address city state and zip-code.
FR60: 0.1358 -- The display shall have two regions: left of the display is graphical right of the display is a data table.
FR32: 0.1108 -- The system shall resolve the zipcode for the street address city and state if zipcode is unknown.
FR24: 0.1078 -- The audit report shall be available to other adjusters at later points in time.
FR56: 0.1050 -- The system will allow privileged users to view repair facility visiting schedules in multiple reporting views.
FR26: 0.1010 -- The system will display a blank set of ratings if there are not ratings yet defined.
FR27: 0.0931 -- The user shall enter new ratings based on the audit report.
FR28: 0.0883 -- The ratings shall be from a scale of 1-10.
FR17: 0.0744 -- The adjuster shall review the collision estimate.
FR48: 0.0738 -- Each time a conference room is reserved the conference room schedule shall be updated to reflect the time and date of the reservation.
FR23: 0.0267 -- The audit report shall be displayed to the user.
FR3: 0.0170 -- The search radius shall be between 1 and 30 miles.

=== NFR NFR2 (Usability): Users shall feel satisfied using the system. 85% of all users will be satisfied with the system. ===
FR59: 0.4016 -- The system shall have an intuitive user interface.
FR58: 0.3678 -- The system shall have a customizable Look and Feel.
FR30: 0.3553 -- The preferred repair facility ratings shall be saved by the system.
FR4: 0.3290 -- The system shall locate the preferred repair facility with the highest ratings for the input criteria.
FR35: 0.3142 -- The current repair facility ratings shall be displayed to the user.
FR7: 0.3093 -- The preferred repair facility shall be returned to the user.
FR28: 0.2980 -- The ratings shall be from a scale of 1-10.
FR25: 0.2832 -- The user shall select to view the preferred repair facility ratings.
FR52: 0.2732 -- The system shall record the transportation status of parts reserved.
FR39: 0.2681 -- The system shall have the ability to send repair facility visiting schedule reminders to users.
FR14: 0.2589 -- The available recycled parts information and their suppliers shall be returned to the user.
FR29: 0.2567 -- The user shall select to save the preferred repair facility ratings.
FR21: 0.2529 -- The audit report shall include the percentage of available recycled parts used in the estimate.
FR33: 0.2506 -- The recycled parts search results provided to the estimator shall be retrieved by the system.
FR13: 0.2401 -- The system shall retain the available recycled parts and suppliers returned from the search.
FR8: 0.2339 -- The system shall return a list of repair facilities within the radius if the preferred repair facility cannot be determined.
FR27: 0.2300 -- The user shall enter new ratings based on the audit report.
FR57: 0.2247 -- The system shall be able to send repair facility visiting schedule notifications via different kinds of end-user specified methods.
FR49: 0.2240 -- The system shall display a map of the repair facility building showing conference room locations.
FR26: 0.2216 -- The system will display a blank set of ratings if there are not ratings yet defined.
FR23: 0.2208 -- The audit report shall be displayed to the user.
FR42: 0.2207 -- The system shall store new conference rooms.
FR40: 0.2091 -- The system shall send the repair facility contact information to schedule creators.
FR1: 0.2084 -- The user shall search for the preferred repair facility using vehicle location and radius in miles.
FR11: 0.2069 -- The system shall search for available recycled parts for the supplied vehicle parts and suppliers.
FR47: 0.2054 -- The system shall be able to delete recycled parts.
FR36: 0.2029 -- The ratings shall include categories for attempted use of recycled parts and actual use of recycled parts.
FR51: 0.1990 -- The system shall send a repair facility visiting schedule confirmation to the schedule creators.
FR43: 0.1972 -- The system shall update existing conference rooms.
FR45: 0.1961 -- The system shall be able to store new recycled parts.
FR10: 0.1870 -- The estimator shall search for available recycled parts using a list of preferred parts suppliers.
FR12: 0.1846 -- The estimator shall search by zipcode with a radius of 30 miles if no parts are found for the preferred parts suppliers.
FR5: 0.1803 -- The adjuster shall enter the preferred repair facility on the estimate assignment.
FR55: 0.1786 -- The system shall notify repair facility of recycled parts transport requests.
FR38: 0.1658 -- The system will notify users of their repair facility visiting schedules.
FR22: 0.1648 -- The audit report shall include the total score of the audit which sums the individual line items.
FR54: 0.1645 -- The system shall record all the recycled parts that has been reserved.
FR60: 0.1567 -- The display shall have two regions: left of the display is graphical right of the display is a data table.
FR19: 0.1538 -- The audit report shall include the total number of recycled parts used in the estimate.
FR3: 0.1529 -- The search radius shall be between 1 and 30 miles.
FR6: 0.1528 -- The adjuster shall be able to override the preferred repair facility on the estimate assignment.
FR20: 0.1350 -- The audit report shall include the number of available recycled parts from the original search results.
FR44: 0.1334 -- The system will be able to delete conference rooms.
FR34: 0.1253 -- The system shall generate an audit report based on the available recycled parts and the collision estimate.
FR50: 0.1118 -- The system shall record updated repair facility visiting schedule agendas.
FR37: 0.1071 -- The system shall record repair facility visiting schedule entries.
FR41: 0.1067 -- The system will record repair facility visiting schedule acknowledgments.
FR56: 0.1023 -- The system will allow privileged users to view repair facility visiting schedules in multiple reporting views.
FR46: 0.1005 -- The system will update existing recycled parts.
FR17: 0.0996 -- The adjuster shall review the collision estimate.
FR24: 0.0939 -- The audit report shall be available to other adjusters at later points in time.
FR31: 0.0931 -- The vehicle data shall include vehicle year make and model.
FR9: 0.0825 -- The estimator shall search for available recycled parts using damaged vehicle parts information.
FR16: 0.0723 -- The estimator shall not apply recycled parts to the collision estimate if no available parts are returned.
FR18: 0.0677 -- The adjuster shall request a recycled parts audit of the collision estimate.
FR15: 0.0604 -- The estimator shall apply selected recycled parts to the collision estimate.
FR32: 0.0597 -- The system shall resolve the zipcode for the street address city and state if zipcode is unknown.
FR2: 0.0466 -- The vehicle location shall include street address city state and zip-code.
FR53: -0.0093 -- The system shall record different schedule types.
FR48: -0.0121 -- Each time a conference room is reserved the conference room schedule shall be updated to reflect the time and date of the reservation.

=== NFR NFR3 (Security): Only adjusters can request recycled parts audit reports. No users without an adjuster role shall request recycled parts audits. ===
FR18: 0.6512 -- The adjuster shall request a recycled parts audit of the collision estimate.
FR24: 0.5981 -- The audit report shall be available to other adjusters at later points in time.
FR21: 0.5789 -- The audit report shall include the percentage of available recycled parts used in the estimate.
FR14: 0.5746 -- The available recycled parts information and their suppliers shall be returned to the user.
FR19: 0.5694 -- The audit report shall include the total number of recycled parts used in the estimate.
FR20: 0.5235 -- The audit report shall include the number of available recycled parts from the original search results.
FR54: 0.5229 -- The system shall record all the recycled parts that has been reserved.
FR13: 0.5156 -- The system shall retain the available recycled parts and suppliers returned from the search.
FR34: 0.5010 -- The system shall generate an audit report based on the available recycled parts and the collision estimate.
FR47: 0.4802 -- The system shall be able to delete recycled parts.
FR55: 0.4783 -- The system shall notify repair facility of recycled parts transport requests.
FR11: 0.4631 -- The system shall search for available recycled parts for the supplied vehicle parts and suppliers.
FR9: 0.4502 -- The estimator shall search for available recycled parts using damaged vehicle parts information.
FR10: 0.4403 -- The estimator shall search for available recycled parts using a list of preferred parts suppliers.
FR45: 0.4364 -- The system shall be able to store new recycled parts.
FR36: 0.4202 -- The ratings shall include categories for attempted use of recycled parts and actual use of recycled parts.
FR23: 0.4144 -- The audit report shall be displayed to the user.
FR6: 0.4121 -- The adjuster shall be able to override the preferred repair facility on the estimate assignment.
FR33: 0.4062 -- The recycled parts search results provided to the estimator shall be retrieved by the system.
FR5: 0.3902 -- The adjuster shall enter the preferred repair facility on the estimate assignment.
FR46: 0.3885 -- The system will update existing recycled parts.
FR56: 0.3525 -- The system will allow privileged users to view repair facility visiting schedules in multiple reporting views.
FR7: 0.3417 -- The preferred repair facility shall be returned to the user.
FR16: 0.3402 -- The estimator shall not apply recycled parts to the collision estimate if no available parts are returned.
FR27: 0.3240 -- The user shall enter new ratings based on the audit report.
FR25: 0.3228 -- The user shall select to view the preferred repair facility ratings.
FR17: 0.3066 -- The adjuster shall review the collision estimate.
FR15: 0.3013 -- The estimator shall apply selected recycled parts to the collision estimate.
FR35: 0.3003 -- The current repair facility ratings shall be displayed to the user.
FR39: 0.2888 -- The system shall have the ability to send repair facility visiting schedule reminders to users.
FR41: 0.2748 -- The system will record repair facility visiting schedule acknowledgments.
FR29: 0.2733 -- The user shall select to save the preferred repair facility ratings.
FR22: 0.2638 -- The audit report shall include the total score of the audit which sums the individual line items.
FR30: 0.2619 -- The preferred repair facility ratings shall be saved by the system.
FR57: 0.2572 -- The system shall be able to send repair facility visiting schedule notifications via different kinds of end-user specified methods.
FR37: 0.2553 -- The system shall record repair facility visiting schedule entries.
FR50: 0.2548 -- The system shall record updated repair facility visiting schedule agendas.
FR52: 0.2488 -- The system shall record the transportation status of parts reserved.
FR38: 0.2405 -- The system will notify users of their repair facility visiting schedules.
FR4: 0.2279 -- The system shall locate the preferred repair facility with the highest ratings for the input criteria.
FR40: 0.2269 -- The system shall send the repair facility contact information to schedule creators.
FR8: 0.2249 -- The system shall return a list of repair facilities within the radius if the preferred repair facility cannot be determined.
FR51: 0.2196 -- The system shall send a repair facility visiting schedule confirmation to the schedule creators.
FR44: 0.1794 -- The system will be able to delete conference rooms.
FR1: 0.1700 -- The user shall search for the preferred repair facility using vehicle location and radius in miles.
FR31: 0.1587 -- The vehicle data shall include vehicle year make and model.
FR12: 0.1585 -- The estimator shall search by zipcode with a radius of 30 miles if no parts are found for the preferred parts suppliers.
FR53: 0.1316 -- The system shall record different schedule types.
FR58: 0.1263 -- The system shall have a customizable Look and Feel.
FR49: 0.0983 -- The system shall display a map of the repair facility building showing conference room locations.
FR48: 0.0781 -- Each time a conference room is reserved the conference room schedule shall be updated to reflect the time and date of the reservation.
FR26: 0.0530 -- The system will display a blank set of ratings if there are not ratings yet defined.
FR42: 0.0409 -- The system shall store new conference rooms.
FR2: 0.0355 -- The vehicle location shall include street address city state and zip-code.
FR28: 0.0241 -- The ratings shall be from a scale of 1-10.
FR43: 0.0212 -- The system shall update existing conference rooms.
FR59: 0.0149 -- The system shall have an intuitive user interface.
FR60: -0.0199 -- The display shall have two regions: left of the display is graphical right of the display is a data table.
FR3: -0.0323 -- The search radius shall be between 1 and 30 miles.
FR32: -0.0336 -- The system shall resolve the zipcode for the street address city and state if zipcode is unknown.
