.nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  background: var(--color-background);
  border-bottom: 1px solid black;
}

/* Container for center links */
.centerLinks {
  display: flex;
  gap: 4rem;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-size: 1.5rem;
  color:var(--color-primary);
}

.logoLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo{
  height: 5%;
  width: auto;
  margin-right: 1rem;
}

/* Right-aligned profile */
.profileLink {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.logoContainer {
  color: black;
}