.findContainer {
  display: grid;
  color: var(--color-primary);
  height: 85vh;
  padding: 2rem;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}

.listingsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.listingsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  overflow-y: auto;
  max-height: 80vh;
  padding-right: 8px;
}

.listingCard {
  background-color: var(--color-background);
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: border-color 0.2s, transform 0.1s;
}

.active {
  border-color: var(--color-accent);
}

.price {
  font-weight: bold;
}

.listingCard h3 {
  margin: 0 0 0.25rem 0;
}

.price {
  font-weight: bold;
  margin-top: 0.5rem;
}

.mapContainer {
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-accent);
  border-radius: 8px;
}
