.signupContainer {
  max-width: 30%;
  margin: 5rem auto;
  padding: 2rem;
}

.header {
  text-align: center;
  font-size: 3rem;
  color: var(--color-primary);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: var(--color-background);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--color-secondary);
}
