:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --color-primary: #0070f3;
  --color-secondary: #1c1c1e;
  --color-tertiary: #eaeaea;
  --color-background: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
}